/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/* BF3BCD STEEL PINK COLOR CODE */ 
/* F2F3F4 LIGHT GREY COLOR CODE */ 
/* https://www.pinterest.com/pin/278026976972934168/ MORE SHADES OF GREY */
